@font-face {
    font-family: 'Vazir';
    src: local('Vazir Regular'),
         url('../fonts/Vazir-FD-WOL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
  @font-face {
    font-family: 'Vazir-bold';
    src: local('Vazir Bold'),
         url('../fonts/Vazir-Bold-FD-WOL.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
  
  @font-face {
    font-family: 'Vazir-light';
    src: local('Vazir Light'),
         url('../fonts/Vazir-Light-FD-WOL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Vazir';
}
.f-light {
    font-family: 'Vazir-light';
}

.logo{
    width: 90px;
    height: 70px;
}
.justify{
    text-align: justify; 
}