@use "config/variables";
@use "base/base";
@use "components/mediaqueries";
@use "layout/layout";

.f-light {
    font-family: 'Vazir-light';
}

.logo{
    width: 90px;
    height: 70px;
}
.justify{
    text-align: justify; 
}